<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.regexmaven.app"
    versionCode="14"
    version   = "0.0.14">
  <name>Regex Maven</name>
  <description>
    Helping you learn and remember(!) Regular Expression in Perl, Python, Ruby, PHP ...
  </description>

  <author href="http://regexmaven.com" email="szabgab@gmail.com">
    Gabor Szabo
  </author>


  <preference name="android-minSdkVersion" value="7" />
  <!-- If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which PhoneGap requires. -->
  <preference name="permissions" value="none"/>


  <!-- See http://build.phonegap.com/docs/config-xml for more details -->
</widget>
